<head>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vuesax"></script>
    <link href="https://cdn.jsdelivr.net/npm/vuesax/dist/vuesax.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>

 <style>
    body {
       font-family: 'Sofia';font-size: 15px;
    }
    </style>
    
</head>

<body style="background-color:white;">
    <div id="app" >

        <div>
        <div v-if="welcome_user">

            <h1>We WelCome You -> {{user_name}}</h1>

            

           


            </div>
        <div v-else>

            <vs-row vs-w="12">
                <vs-col vs-offset="0" vs-type="flex" vs-justify="center" vs-align="center" vs-w="15">
                <h1>Enter Your Name:</h1>
       
                </vs-col>
            </vs-row>

            
            <vs-row vs-w="12">
                <vs-col vs-offset="0" vs-type="flex" vs-justify="center" vs-align="center" vs-w="15">
           
                <vs-input label-placeholder="Name" v-model="user_name"/>
                
                </vs-col>
            </vs-row>




            <vs-row vs-w="12">
                <vs-col vs-offset="0" vs-type="flex" vs-justify="center" vs-align="center" vs-w="15">
                <h1>Enter Your Email-Id:</h1>
       
                </vs-col>
            </vs-row>

            
            <vs-row vs-w="12">
                <vs-col vs-offset="0" vs-type="flex" vs-justify="center" vs-align="center" vs-w="15">
           
                <vs-input label-placeholder="E-Mail" v-model="email_id"/>
                
                </vs-col>
            </vs-row>
            <br>
            <vs-row vs-w="12">
                <vs-col vs-offset="0" vs-type="flex" vs-justify="center" vs-align="center" vs-w="15">
           
                    <vs-button @click="register_user()" :color="button_color" type="filled">Register</vs-button>
                </vs-col>
            </vs-row>
         


        </div>

    </div>

        </div>

        </body>



<script>

    new Vue({
       el: '#app',
    
           methods: {

               make_req(email,name)
               {
                   const scope=this;
                   scope.$vs.loading();
                   var link=this.backend_api+email+'/'+name
                fetch(link, {
                    mode: 'cors' // 'cors' by default
                    })
                    .then(
    function(response) {
      if (response.status !== 200) {
        console.log(
          response.status);
          scope.$vs.loading.close()
        return;
      }

      // Examine the text in the response
      response.json().then(function(data) {
        // console.log(data);
        scope.$vs.loading.close()
        if('already_exist' in data)
        {


            scope.$vs.notify({
        title:'WelCome '+data['already_exist'].name,
        text:'You Have ALready Registered With Us',
        color:'success',
        position:'top-center'
      })




        }
        if('success' in data)
        {
            scope.welcome_user=true

        }










      });
    }
  )
  .catch(function(err) {
    console.log('Fetch Error :-S', err);
    scope.$vs.loading.close()
    this.$vs.notify({
        title:'Some Error Occuered ',
        text:'Check Error In Console',
        color:'danger',
        position:'top-center'
      })
  });   
                



               },

               alert_user(message,extra_message)
               {
                this.$vs.notify({
        title:message,
        text:extra_message,
        color:'danger',
        position:'top-center'
      })


               },

               register_user()
               {



                   
                   if(!(this.is_valid_email()))
                   {
                       this.alert_user('Enter A Valid Email')

                   }

                   if(!(this.check_name()))
                   {
                       this.alert_user('Enter A Valid Name','Name Should Be Atleast 4 Character Long ')

                   }


                   if(this.check_name() && this.is_valid_email())
                   {
                   
                    this.make_req(this.email_id,this.user_name);

                  
                   }


               },


               is_valid_email()
               {
                var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
                var email_id=this.email_id
if (reg.test(email_id) == false) 
{
 
    return false;
}

return true;
               },

               check_name()
               {
                   return this.user_name.length>=4
               }



    
         
           },
       
           watch: {
               'email_id'(neww_value,old_value)
               {
                if(this.is_valid_email())
                   {


                    if(this.check_name())
                   {
                      
                      this.button_color='success'

                    }
                    else{
                    this.button_color='danger'
                   }
                       

                   }
                   else{
                    this.button_color='danger'
                   }

                 

                   
                   
               },
               'user_name'(neww_value,old_value)
               {
                if(this.check_name())
                   {


                    if(this.is_valid_email())
                   {
                      
                      this.button_color='success'

                    }
                    else{
                    this.button_color='danger'
                   }
                       

                   }
                   else{
                    this.button_color='danger'
                   }

                 

                   
                   
               },

            
       
           },
           data() {
               return {
                welcome_user:false,
                   email_id:'',
                   user_name:'',
                   show_button:false,
                   button_color:'danger',
                   backend_api:'http://0.0.0.0:5002/opensourceca/shivampandey/'
                    // backend_api:'http://api.yesteacher.app/opensourceca/shivampandey/'


               }
           }});


</script>
            